div.header {
  background: url(/assets/hesburgh_assets/chemistry/1.0/header-home.jpg) no-repeat;
}

.header_search,
.search-toggle {
  display:none;
  display:none;
}

div.header h4 a {
    height: 33px;
    top: 0;
}

div.header h3 a {
    height: 50px !important;
    top: 35px !important;
}