<% content_for(:right_column) do %>
  <h2>Templates:</h2>
  <% [:one_column, :two_column_left, :two_column_right].each do |template| %>
    <%= link_to(template.to_s.titleize, static_path(template)) %><br>
  <% end %>
<% end %>

<%= render :partial => "style_guide" %>
