dl.tabs dd > a.active, dl.tabs dd > a.active:hover {
  border-width: 0;
  margin:0;
  padding:8px 15px 15px 14px !important;
  border-right:solid 1px #B1C6D3 !important;
  background:#fff url(http://library.nd.edu/local_images/ie.corner.gif) top left !important;
}

.srch-box {
	border:solid 1px #ccc !important;
}

dl.tabs dd .default a.active {
	padding-bottom:0 !important;
	height:0 !important;
	color:green;
}