/*
 * Manifest file for version 1 styles.
 *
 *= require_self
 *= require ../../branch/1.0/index.css
 *= require ./bootstrap_overrides.css
 *= require ./hesburgh.css
 *= require ./homepage.css
 *= require ./hours.css
 *= require ./tabs.css
 */
