@import "mixins.css.scss";

.search-appliance {

  // From Foundation
  div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
  }

  dl.tabs { display: block; margin: 0 0 0 0; padding: 0; height: 30px; border-bottom: solid 1px #ddd; }
  dl.tabs dt { display: block; width: auto; height: 30px; padding: 0 9px 0 20px; line-height: 30px; float: left; color: #999; font-size: 11px; text-transform: uppercase; cursor: default; }
  dl.tabs dt:first-child { padding: 0 9px 0 0; }
  dl.tabs dd { display: block; width: auto; height: 30px; padding: 0; float: left; }
  dl.tabs dd a { display: block; width: auto; height: 29px; padding: 0 9px; line-height: 30px; border: solid 1px #ddd; margin: 0 -1px 0 0; color: #555; background: #eee; }

  dl.contained.tabs dd a {
    padding-right: 14px;
    padding-left: 14px;
  }
  // End Foundation

  input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 4px !important;
    margin-bottom: 9px;
    font-size: 13px;
    line-height: 18px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
  }


  #exlidAdvancedSearchRibbon input {
    height: auto !important;
    margin: 0;
  }

  #exlidAdvancedSearchRibbon select {
    padding: 4px;
    line-height: 18px;
    height: auto !important;
    margin: 0;
  }

  .primo-dropdown-span {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    height: 22px;
    width:95%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    padding: 4px !important;
    margin-bottom: 9px;
    font-size: 13px;
    color: #555555;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
  }


  .extra-links { list-style-type:none; padding-left:0 !important; float:left;margin-left: 0; }
  .extra-links li { display:inline; padding-right: 1em;  float:left; }



  select {
    padding: 8px 4px;
  }

  input.srch-box {
    padding:.5em 0 !important;
    width:230px;
  }
  input.srch-box.long {
    width:424px;
  }

  dl.tabs {
    @include tabs;
  }

  ul.tabs-content {
    display: block;
    margin: 0;
  }

  ul.contained.tabs-content {
    list-style: none outside none !important;
    margin-bottom: 1.12em;
    padding: 0;
  }

  ul.contained.tabs-content > li  {
    @include box;
    position: relative;
    float: left;
  	border-radius: 0;
  	box-shadow: none;
  	z-index: auto;
  	padding:16px !important;
    margin: 0 !important;
    list-style: none outside none !important;
  }

  ul.contained.tabs-content > li:before, ul.contained.tabs-content > li:after
  {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
  }

  ul.contained.tabs-content > li:after
  {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }

  dl.tabs {
    z-index: 100;
    position: absolute;
  }

  dl.tabs dd a {
  	border-radius:4px 4px 0 0;
  	background:#CECEBF;
  	border:none;
  	box-shadow: inset -0px -5px 3px #888;
    padding-bottom: 0.5em;
    height: 25px;
    line-height: 24px;

    span {
      margin: 0;
      padding-right: 4px;
      overflow: hidden;
      position: relative;
      display: block;
    }
  }

  dl.tabs dd a.active {
  	box-shadow: none;
  	border:solid 1px #B1C6D3;
  }

  input.srch-box.long {
  	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  	-moz-box-sizing: border-box;
    height: 36px;
    padding: 4px 30px 4px 12px !important;
    border:none;
    border-radius: 0;
  }

  .btn {
  	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  	background-color: #CBB53F;
    background-image: none;
    font-weight: normal;
    text-transform: uppercase;
    border-radius: 0;
    height: 36px;
    border:none;
    color:#fff;
    text-shadow:none;
    font-size: 14px;
    margin-bottom: 9px;
  }

  form {
  	margin-bottom: 0;
  }

  select {
    height: 36px;
  }

  .form-inline {
    margin-bottom: 9px;

    .btn {
      margin-bottom: 0;
    }

    .pull-left .btn {
      margin-left: 4px;
    }
  }

  ul.tabs-content ul {
  	margin-bottom:0;
  }

  p.about-tab {
  	border:none;
  	right:0;
  	bottom:0;
    padding: .3em;

    a {
      padding:3px 6px 3px 20px;
      background:url('info.gif') 5px center no-repeat;
      font-weight: bold;
      font-size:10px;
    }

    a:hover {
      background-color:#e9f0f8;
    }
  }

  .about-tab:hover, .about-tab a:hover {
  	background-color: transparent;
  }

  dl.tabs dd {
    margin-left: 0 !important;
    overflow: hidden;
    padding-right: 4px;
    position: relative;
    display: block;
    float: left;

    a {
      padding-top:8px;
      font-size: 13px;
      font-weight: bold;
      margin: 0;
      position: relative;
      text-decoration: none;
      z-index: 2;
    }

    .default {
      position: absolute;
      top:0px;
      right: 7px;

      a {
        background: url("search_appliance/off.gif") no-repeat scroll left center transparent;
        color:#696969;
        text-decoration: none;
        padding: 13px 0 0.5em;
        height:0;
        width: 13px;
        overflow:hidden;
        display: block;
        border:none;
        border-radius: 0;
        box-shadow: none;
      }

      .act {
        background-image: url(search_appliance/on.gif);
      }
    }
  }

  #search_box {
    margin-top:36px;
    float: left;
    margin-bottom: 20px;
    width: 100%;
    z-index: 1;
  }

  dl.tabs {
    height:36px;
  }

  dl.tabs dd {
    height: 37px;
  }

  dl.tabs dd a {
    color:#777777;
  }

  dl.tabs dd > a:hover {
    background: #E6E6DF;
    text-decoration: none;
  }

  dl.tabs dd > a.active {
   border-style: solid;
   border-width: 8px 15px 15px 8px;
   -moz-border-image: url(search_appliance/corner.png) 8 15 15 8 round;
   -webkit-border-image: url(search_appliance/corner.png) 8 15 15 8 round;
   -o-border-image: url(search_appliance/corner.png) 8 15 15 8 round;
   border-image: url(search_appliance/corner.png) 8 15 15 8 fill round;
   padding-top:0;
   padding-right:0;
   padding-left:6px;
   background-image: none;
   background-color:transparent;
   color:#2B5781;

  }

  dl.tabs dd > a.active:active {
    background-image: none;
    background-color:transparent;
    box-shadow: none;
  }

  dl.tabs dd > a.active:hover, dl.tabs dd > a.active:active {
    background:transparent;

  }

  .onesearch span, .ndcatalog span {
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 0 !important;
    overflow: hidden !important;
    padding-bottom: 0 !important;
    padding-top: 29px !important;
    text-decoration: none;
  }

  .onesearch span {
    background-image: url(search_appliance/onesearch.off.png);
    width: 80px !important;
  }

  .onesearch.active span {
    background-image: url(search_appliance/onesearch.png);
  }

  .ndcatalog span {
    background-image: url(search_appliance/ndcatalog.off.png);
    width: 73px !important;
  }

  .ndcatalog.active span {
    background-image: url(search_appliance/ndcatalog.png);
  }
}

html[data-useragent*='MSIE 10.0'] .search-appliance dl.tabs dd a.active {
  border-width: 0;
  padding:8px 15px 15px 14px;
  border-right:solid 1px #B1C6D3;
  background:#fff url(search_appliance/ie.corner.gif) top left;
}

.home-page .search-appliance #search_box {
  margin-bottom: 40px;
}
